<!DOCTYPE html>
<html>
    <head>
        <title>My First Template in Django</title>
{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'quiz/styles.css' %}">
    </head>
    <body>
    	<h3>Questions</h3>
        <ol>
{% for question in questions %}
            <li>{{ question.question_text }}</li>
{% endfor %}
        </ol>
    </body>
</html>