<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Django Template</title>
	</head>
	<body>
		<h1>Question # {{ question.id }}</h1>
		<h3>{{ question.question_text }}</h3>
		<p>Choices</p>
		<ul>
{% for choice in choices %}
			<li>{{ choice.choice_text }}</li>
{% endfor %}
		</ul>
	</body>
</html>