<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>A Web Page</title>
{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'home/styles.css' %}">
	</head>
	<body>
		<div class="mainContainer">
			<h1>Welcome to My First Django App</h1>
			<p>Hi! My name is {{ name }}</p>
			<p>I like to {{ activity }}</p>
			<p>My favorite programming language is {{ progLang }}</p>
		</div>
	</body>
</html>