<!DOCTYPE html>
<html>
<head>
	<title>HELP!</title>
</head>
<body>
	<h1 style="text-align:center">HJELP!</h1>
	<div style="text-align:center; font-size:24pt">
		<select name="category">
			{% for cat in catList %}
				<option value="{{cat[0]}}">{{cat[1]}}</option>
			{% endfor %}
		</select>
	</div>
	<h3 style="text-align:center"><a href="/">HOME</a> | <a href="/users">USERS</a></h3>
</body>
</html>