<!DOCTYPE html>
<html>
<head>
	<title>Hello Flask!</title>
</head>
<body>
	<h1 style="text-align: center">{{firstName}} {{lastName}}</h1>
	{% for k in myObj %}
		<div style="text-align: center">{{k}} || {{myObj[k]}}</div>
	{% endfor %}

	<h3 style="text-align:center"><a href="/help">HELP</a> | <a href="/users">USERS</a></h3>
</body>
</html>