<!DOCTYPE html>
<html>
<head>
	<title>USERS</title>
</head>
<body>
	<h1 style="text-align:center">USERS</h1>
	<div style="text-align:left; background-color:#EEE">
		<table style="margin: 60px auto">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			{% for user in userList %}
				<tr>
					<td>{{user[1]}}</td>
					<td>{{user[2]}}</td>
					<td><a href="mailto:{{user[3]}}">{{user[3]}}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<h3 style="text-align:center"><a href="/">HOME</a> | <a href="/help">HELP</a></h3>
</body>
</html>